# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from keras.layers import Dropout
from keras.regularizers import l2

2023-07-03 01:45:34.424538: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN","NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
one_encod = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = one_encod.fit_transform(applicant_data_df[categorical_variables])

/Users/mac/anaconda3/envs/tf/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = one_encod.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [11]:
applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']]

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']]], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[["IS_SUCCESSFUL"]]

# Display a sample of y
y[:5]

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 15

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  15

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

15

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  15

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

15

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 15)                1755

 dense_1 (Dense)             (None, 15)                240

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 2,011
Trainable params: 2,011
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 2s 2ms/step - loss: 0.6070 - accuracy: 0.6983 - val_loss: 0.5614 - val_accuracy: 0.7335
Epoch 2/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7226 - val_loss: 0.5583 - val_accuracy: 0.7356
Epoch 3/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7274 - val_loss: 0.5546 - val_accuracy: 0.7383
Epoch 4/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7264 - val_loss: 0.5549 - val_accuracy: 0.7365
Epoch 5/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7280 - val_loss: 0.5572 - val_accuracy: 0.7375
Epoch 6/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7294 - val_loss: 0.5523 - val_accuracy: 0.7379
Epoch 7/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7288 - val_loss: 0.5522 - val_accuracy: 0.7391
Epoch 8/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7298 - val_loss: 0.5524 - val_accuracy: 0.7393
Epoch 9/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7294 - val_loss: 0.5523 - val_accuracy: 0.7402
Epoch 10/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7300 - val_loss: 0.5561 - val_accuracy: 0.7354
Epoch 11/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7299 - val_loss: 0.5526 - val_accuracy: 0.7393
Epoch 12/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7303 - val_loss: 0.5535 - val_accuracy: 0.7388
Epoch 13/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7330 - val_loss: 0.5551 - val_accuracy: 0.7383
Epoch 14/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7320 - val_loss: 0.5537 - val_accuracy: 0.7385
Epoch 15/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7328 - val_loss: 0.5555 - val_accuracy: 0.7378
Epoch 16/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7313 - val_loss: 0.5562 - val_accuracy: 0.7371
Epoch 17/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7329 - val_loss: 0.5561 - val_accuracy: 0.7366
Epoch 18/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7328 - val_loss: 0.5583 - val_accuracy: 0.7336
Epoch 19/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7329 - val_loss: 0.5566 - val_accuracy: 0.7343
Epoch 20/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7320 - val_loss: 0.5557 - val_accuracy: 0.7359
Epoch 21/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7333 - val_loss: 0.5554 - val_accuracy: 0.7368
Epoch 22/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7333 - val_loss: 0.5563 - val_accuracy: 0.7383
Epoch 23/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7334 - val_loss: 0.5571 - val_accuracy: 0.7350
Epoch 24/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7339 - val_loss: 0.5593 - val_accuracy: 0.7358
Epoch 25/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7340 - val_loss: 0.5559 - val_accuracy: 0.7376
Epoch 26/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7346 - val_loss: 0.5571 - val_accuracy: 0.7357
Epoch 27/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7336 - val_loss: 0.5561 - val_accuracy: 0.7378
Epoch 28/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7345 - val_loss: 0.5576 - val_accuracy: 0.7352
Epoch 29/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7334 - val_loss: 0.5587 - val_accuracy: 0.7352
Epoch 30/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7345 - val_loss: 0.5580 - val_accuracy: 0.7349
Epoch 31/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7329 - val_loss: 0.5584 - val_accuracy: 0.7383
Epoch 32/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7351 - val_loss: 0.5584 - val_accuracy: 0.7378
Epoch 33/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7342 - val_loss: 0.5589 - val_accuracy: 0.7361
Epoch 34/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7369 - val_loss: 0.5576 - val_accuracy: 0.7378
Epoch 35/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7364 - val_loss: 0.5615 - val_accuracy: 0.7340
Epoch 36/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7354 - val_loss: 0.5623 - val_accuracy: 0.7378
Epoch 37/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7361 - val_loss: 0.5592 - val_accuracy: 0.7375
Epoch 38/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7340 - val_loss: 0.5596 - val_accuracy: 0.7367
Epoch 39/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7356 - val_loss: 0.5593 - val_accuracy: 0.7392
Epoch 40/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7356 - val_loss: 0.5610 - val_accuracy: 0.7374
Epoch 41/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7358 - val_loss: 0.5607 - val_accuracy: 0.7383
Epoch 42/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7359 - val_loss: 0.5619 - val_accuracy: 0.7379
Epoch 43/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7354 - val_loss: 0.5608 - val_accuracy: 0.7394
Epoch 44/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7366 - val_loss: 0.5607 - val_accuracy: 0.7391
Epoch 45/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7366 - val_loss: 0.5619 - val_accuracy: 0.7387
Epoch 46/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7365 - val_loss: 0.5614 - val_accuracy: 0.7396
Epoch 47/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7358 - val_loss: 0.5631 - val_accuracy: 0.7376
Epoch 48/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7354 - val_loss: 0.5607 - val_accuracy: 0.7388
Epoch 49/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7367 - val_loss: 0.5623 - val_accuracy: 0.7361
Epoch 50/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7375 - val_loss: 0.5632 - val_accuracy: 0.7378

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5590 - accuracy: 0.7314 - 240ms/epoch - 895us/step
Loss: 0.5590128302574158, Accuracy: 0.7314285635948181

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Alternate model without ASK_AMT
applicant_data_df_Alternate1 = applicant_data_df.drop(["ASK_AMT"], axis=1)

list(applicant_data_df_Alternate1.dtypes[applicant_data_df_Alternate1.dtypes == "object"].index)
enc_Alternate1 = OneHotEncoder(sparse=False)
encoded_data_Alternate1 = enc_Alternate1.fit_transform(applicant_data_df_Alternate1[categorical_variables])
encoded_df_Alternate1 = pd.DataFrame(
    encoded_data_Alternate1,
    columns = enc_Alternate1.get_feature_names_out(categorical_variables)
)



encoded_df_Alternate1 = pd.concat([encoded_df_Alternate1, applicant_data_df_Alternate1[['STATUS', 'IS_SUCCESSFUL']]], axis=1)
y_A1 = encoded_df_Alternate1[["IS_SUCCESSFUL"]]
X_A1 = encoded_df_Alternate1.drop(columns='IS_SUCCESSFUL')
X_train_A1, X_test_A1, y_train_A1, y_test_A1 = train_test_split(X_A1, y_A1, random_state=1)
scaler_A1 = StandardScaler()
X_scaler_A1 = scaler_A1.fit(X_train_A1)
X_train_scaled_A1 = X_scaler_A1.transform(X_train_A1)
X_test_scaled_A1 = X_scaler_A1.transform(X_test_A1)

/Users/mac/anaconda3/envs/tf/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [31]:
# Define the the number of inputs (features) to the model
number_input_features_Alternate1 = len(X_train_A1.iloc[0])

# Review the number of features
number_input_features_Alternate1

115

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_Alternate1 = 15

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_Alternate1 = 15

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_Alternate1

15

In [34]:
# Create the Sequential model instance
nn_Alternate1 = Sequential()

In [35]:
# First hidden layer
nn_Alternate1.add(
    Dense(units=hidden_nodes_layer1_Alternate1, input_dim=number_input_features_Alternate1, activation="relu")
)
# Second hidden layer
nn_Alternate1.add(Dense(units=hidden_nodes_layer2, activation="relu"))
# Output layer
nn_Alternate1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_Alternate1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 15)                1740

 dense_4 (Dense)             (None, 15)                240

 dense_5 (Dense)             (None, 1)                 16

=================================================================
Total params: 1,996
Trainable params: 1,996
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_Alternate1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_Alternate1.fit(X_train_scaled_A1, y_train_A1, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 2s 2ms/step - loss: 0.6199 - accuracy: 0.6841 - val_loss: 0.5614 - val_accuracy: 0.7340
Epoch 2/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5640 - accuracy: 0.7215 - val_loss: 0.5516 - val_accuracy: 0.7334
Epoch 3/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5552 - accuracy: 0.7272 - val_loss: 0.5494 - val_accuracy: 0.7361
Epoch 4/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7283 - val_loss: 0.5520 - val_accuracy: 0.7345
Epoch 5/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7287 - val_loss: 0.5501 - val_accuracy: 0.7344
Epoch 6/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7289 - val_loss: 0.5496 - val_accuracy: 0.7361
Epoch 7/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7295 - val_loss: 0.5501 - val_accuracy: 0.7354
Epoch 8/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7298 - val_loss: 0.5494 - val_accuracy: 0.7363
Epoch 9/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7295 - val_loss: 0.5529 - val_accuracy: 0.7340
Epoch 10/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7294 - val_loss: 0.5525 - val_accuracy: 0.7349
Epoch 11/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7315 - val_loss: 0.5502 - val_accuracy: 0.7365
Epoch 12/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7320 - val_loss: 0.5542 - val_accuracy: 0.7374
Epoch 13/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7315 - val_loss: 0.5552 - val_accuracy: 0.7354
Epoch 14/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7303 - val_loss: 0.5547 - val_accuracy: 0.7389
Epoch 15/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7321 - val_loss: 0.5555 - val_accuracy: 0.7362
Epoch 16/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7320 - val_loss: 0.5531 - val_accuracy: 0.7402
Epoch 17/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7320 - val_loss: 0.5537 - val_accuracy: 0.7384
Epoch 18/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7325 - val_loss: 0.5551 - val_accuracy: 0.7387
Epoch 19/50
563/563 [==============================] - 1s 3ms/step - loss: 0.5421 - accuracy: 0.7334 - val_loss: 0.5528 - val_accuracy: 0.7418
Epoch 20/50
563/563 [==============================] - 3s 5ms/step - loss: 0.5421 - accuracy: 0.7330 - val_loss: 0.5560 - val_accuracy: 0.7407
Epoch 21/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7335 - val_loss: 0.5547 - val_accuracy: 0.7397
Epoch 22/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7339 - val_loss: 0.5562 - val_accuracy: 0.7367
Epoch 23/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7346 - val_loss: 0.5560 - val_accuracy: 0.7407
Epoch 24/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7337 - val_loss: 0.5590 - val_accuracy: 0.7391
Epoch 25/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7339 - val_loss: 0.5563 - val_accuracy: 0.7406
Epoch 26/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7345 - val_loss: 0.5569 - val_accuracy: 0.7400
Epoch 27/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7339 - val_loss: 0.5567 - val_accuracy: 0.7385
Epoch 28/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7342 - val_loss: 0.5558 - val_accuracy: 0.7397
Epoch 29/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7340 - val_loss: 0.5578 - val_accuracy: 0.7394
Epoch 30/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7348 - val_loss: 0.5579 - val_accuracy: 0.7396
Epoch 31/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7339 - val_loss: 0.5612 - val_accuracy: 0.7341
Epoch 32/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7328 - val_loss: 0.5599 - val_accuracy: 0.7385
Epoch 33/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7342 - val_loss: 0.5573 - val_accuracy: 0.7407
Epoch 34/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7339 - val_loss: 0.5565 - val_accuracy: 0.7406
Epoch 35/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7348 - val_loss: 0.5586 - val_accuracy: 0.7392
Epoch 36/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7336 - val_loss: 0.5557 - val_accuracy: 0.7409
Epoch 37/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7360 - val_loss: 0.5630 - val_accuracy: 0.7348
Epoch 38/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7326 - val_loss: 0.5583 - val_accuracy: 0.7409
Epoch 39/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7365 - val_loss: 0.5675 - val_accuracy: 0.7345
Epoch 40/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7341 - val_loss: 0.5591 - val_accuracy: 0.7375
Epoch 41/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7361 - val_loss: 0.5594 - val_accuracy: 0.7375
Epoch 42/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7359 - val_loss: 0.5629 - val_accuracy: 0.7393
Epoch 43/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7351 - val_loss: 0.5629 - val_accuracy: 0.7384
Epoch 44/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7353 - val_loss: 0.5610 - val_accuracy: 0.7379
Epoch 45/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7360 - val_loss: 0.5647 - val_accuracy: 0.7372
Epoch 46/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7358 - val_loss: 0.5619 - val_accuracy: 0.7385
Epoch 47/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7352 - val_loss: 0.5618 - val_accuracy: 0.7366
Epoch 48/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7348 - val_loss: 0.5605 - val_accuracy: 0.7396
Epoch 49/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7363 - val_loss: 0.5600 - val_accuracy: 0.7402
Epoch 50/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7359 - val_loss: 0.5658 - val_accuracy: 0.7356

#### Alternative Model 2

In [38]:
## Same X and y as alternative model, but we will be dropping

In [39]:
# Define the the number of inputs (features) to the model
number_input_features_Alternate2 = len(X_train_A1.iloc[0])

# Review the number of features
number_input_features_Alternate2

115

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_Alternate2 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_Alternate2

20

In [41]:
# Create the Sequential model instance
nn_Alternate2 =  Sequential()

In [42]:
# First hidden layer
nn_Alternate2.add(
    Dense(units=hidden_nodes_layer1_Alternate2, input_dim=number_input_features_Alternate2, activation="relu")
)
# Dropout layer
nn_Alternate2.add(Dropout(.2,input_shape=(10,)))

# Regularization layer
nn_Alternate2.add(Dense(5, activation='relu', kernel_regularizer=l2(0.02), bias_regularizer=l2(0.02)))

# Output layer
nn_Alternate2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_Alternate2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 20)                2320

 dropout (Dropout)           (None, 20)                0

 dense_7 (Dense)             (None, 5)                 105

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 2,431
Trainable params: 2,431
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn_Alternate2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Fit the model
model_A2 = nn_Alternate2.fit(X_train_scaled_A1, y_train_A1, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 2s 3ms/step - loss: 0.7319 - accuracy: 0.6696 - val_loss: 0.6231 - val_accuracy: 0.7278
Epoch 2/50
563/563 [==============================] - 1s 2ms/step - loss: 0.6142 - accuracy: 0.7123 - val_loss: 0.5772 - val_accuracy: 0.7374
Epoch 3/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5877 - accuracy: 0.7199 - val_loss: 0.5670 - val_accuracy: 0.7378
Epoch 4/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5761 - accuracy: 0.7258 - val_loss: 0.5620 - val_accuracy: 0.7371
Epoch 5/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5738 - accuracy: 0.7235 - val_loss: 0.5598 - val_accuracy: 0.7385
Epoch 6/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5701 - accuracy: 0.7259 - val_loss: 0.5620 - val_accuracy: 0.7349
Epoch 7/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5672 - accuracy: 0.7245 - val_loss: 0.5591 - val_accuracy: 0.7353
Epoch 8/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7266 - val_loss: 0.5595 - val_accuracy: 0.7372
Epoch 9/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5643 - accuracy: 0.7273 - val_loss: 0.5607 - val_accuracy: 0.7354
Epoch 10/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7263 - val_loss: 0.5571 - val_accuracy: 0.7358
Epoch 11/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5636 - accuracy: 0.7259 - val_loss: 0.5571 - val_accuracy: 0.7359
Epoch 12/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7259 - val_loss: 0.5574 - val_accuracy: 0.7372
Epoch 13/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7274 - val_loss: 0.5564 - val_accuracy: 0.7370
Epoch 14/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.7292 - val_loss: 0.5579 - val_accuracy: 0.7379
Epoch 15/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5603 - accuracy: 0.7284 - val_loss: 0.5583 - val_accuracy: 0.7357
Epoch 16/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5616 - accuracy: 0.7255 - val_loss: 0.5579 - val_accuracy: 0.7368
Epoch 17/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7279 - val_loss: 0.5572 - val_accuracy: 0.7379
Epoch 18/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7254 - val_loss: 0.5580 - val_accuracy: 0.7385
Epoch 19/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5583 - accuracy: 0.7283 - val_loss: 0.5577 - val_accuracy: 0.7375
Epoch 20/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7268 - val_loss: 0.5616 - val_accuracy: 0.7365
Epoch 21/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7284 - val_loss: 0.5619 - val_accuracy: 0.7374
Epoch 22/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7280 - val_loss: 0.5645 - val_accuracy: 0.7376
Epoch 23/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5574 - accuracy: 0.7275 - val_loss: 0.5623 - val_accuracy: 0.7394
Epoch 24/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7261 - val_loss: 0.5609 - val_accuracy: 0.7380
Epoch 25/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7281 - val_loss: 0.5630 - val_accuracy: 0.7376
Epoch 26/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5569 - accuracy: 0.7295 - val_loss: 0.5602 - val_accuracy: 0.7379
Epoch 27/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7270 - val_loss: 0.5626 - val_accuracy: 0.7374
Epoch 28/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7279 - val_loss: 0.5640 - val_accuracy: 0.7384
Epoch 29/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7283 - val_loss: 0.5641 - val_accuracy: 0.7375
Epoch 30/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7291 - val_loss: 0.5635 - val_accuracy: 0.7378
Epoch 31/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7282 - val_loss: 0.5689 - val_accuracy: 0.7366
Epoch 32/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7284 - val_loss: 0.5699 - val_accuracy: 0.7362
Epoch 33/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7298 - val_loss: 0.5749 - val_accuracy: 0.7353
Epoch 34/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7311 - val_loss: 0.5698 - val_accuracy: 0.7367
Epoch 35/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7272 - val_loss: 0.5680 - val_accuracy: 0.7383
Epoch 36/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7290 - val_loss: 0.5665 - val_accuracy: 0.7385
Epoch 37/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7278 - val_loss: 0.5669 - val_accuracy: 0.7379
Epoch 38/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5554 - accuracy: 0.7274 - val_loss: 0.5656 - val_accuracy: 0.7391
Epoch 39/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7287 - val_loss: 0.5632 - val_accuracy: 0.7383
Epoch 40/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7315 - val_loss: 0.5637 - val_accuracy: 0.7388
Epoch 41/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7283 - val_loss: 0.5667 - val_accuracy: 0.7378
Epoch 42/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7307 - val_loss: 0.5657 - val_accuracy: 0.7380
Epoch 43/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7291 - val_loss: 0.5639 - val_accuracy: 0.7387
Epoch 44/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7300 - val_loss: 0.5679 - val_accuracy: 0.7388
Epoch 45/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7308 - val_loss: 0.5645 - val_accuracy: 0.7380
Epoch 46/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7271 - val_loss: 0.5629 - val_accuracy: 0.7379
Epoch 47/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5545 - accuracy: 0.7296 - val_loss: 0.5653 - val_accuracy: 0.7393
Epoch 48/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7303 - val_loss: 0.5732 - val_accuracy: 0.7376
Epoch 49/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7285 - val_loss: 0.5698 - val_accuracy: 0.7391
Epoch 50/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7290 - val_loss: 0.5675 - val_accuracy: 0.7391

### Alternative Model 3

In [45]:
## Two layers with dropout and regularizer for each

# Define the the number of inputs (features) to the model
number_input_features_Alternate3 = len(X_train_A1.iloc[0])

# Review the number of features
number_input_features_Alternate3

115

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_Alternate3 = 35
hidden_nodes_layer2_Alternate3 = 35

In [47]:
# Create the Sequential model instance
nn_Alternate3 =  Sequential()

In [48]:
# First hidden layer
nn_Alternate3.add(
    Dense(units=hidden_nodes_layer1_Alternate3, input_dim=number_input_features_Alternate3, activation="relu")
)
nn_Alternate3.add(Dropout(.2,input_shape=(10,)))
nn_Alternate3.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))
nn_Alternate3.add(
    Dense(units=hidden_nodes_layer2_Alternate3, input_dim=hidden_nodes_layer1_Alternate3 * .8, activation="relu")
)
nn_Alternate3.add(Dropout(.2,input_shape=(10,)))
nn_Alternate3.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))

# Output layer
nn_Alternate3.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_Alternate3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 35)                4060

 dropout_1 (Dropout)         (None, 35)                0

 dense_10 (Dense)            (None, 5)                 180

 dense_11 (Dense)            (None, 35)                210

 dropout_2 (Dropout)         (None, 35)                0

 dense_12 (Dense)            (None, 5)                 180

 dense_13 (Dense)            (None, 1)                 6

=================================================================
Total params: 4,636
Trainable params: 4,636
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Compile the model
nn_Alternate3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Fit the model
model_A3 = nn_Alternate3.fit(X_train_scaled_A1, y_train_A1, validation_split=0.3, epochs=60)

Epoch 1/60
563/563 [==============================] - 3s 3ms/step - loss: 0.6870 - accuracy: 0.6806 - val_loss: 0.5919 - val_accuracy: 0.7318
Epoch 2/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5936 - accuracy: 0.7224 - val_loss: 0.5689 - val_accuracy: 0.7367
Epoch 3/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5804 - accuracy: 0.7243 - val_loss: 0.5681 - val_accuracy: 0.7348
Epoch 4/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5729 - accuracy: 0.7252 - val_loss: 0.5594 - val_accuracy: 0.7381
Epoch 5/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5680 - accuracy: 0.7258 - val_loss: 0.5628 - val_accuracy: 0.7372
Epoch 6/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5675 - accuracy: 0.7268 - val_loss: 0.5620 - val_accuracy: 0.7372
Epoch 7/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5659 - accuracy: 0.7263 - val_loss: 0.5601 - val_accuracy: 0.7359
Epoch 8/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7271 - val_loss: 0.5606 - val_accuracy: 0.7383
Epoch 9/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5619 - accuracy: 0.7276 - val_loss: 0.5629 - val_accuracy: 0.7356
Epoch 10/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7272 - val_loss: 0.5607 - val_accuracy: 0.7371
Epoch 11/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7278 - val_loss: 0.5570 - val_accuracy: 0.7403
Epoch 12/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7278 - val_loss: 0.5571 - val_accuracy: 0.7396
Epoch 13/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5594 - accuracy: 0.7282 - val_loss: 0.5629 - val_accuracy: 0.7393
Epoch 14/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7291 - val_loss: 0.5661 - val_accuracy: 0.7340
Epoch 15/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7279 - val_loss: 0.5652 - val_accuracy: 0.7385
Epoch 16/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7291 - val_loss: 0.5654 - val_accuracy: 0.7387
Epoch 17/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7300 - val_loss: 0.5626 - val_accuracy: 0.7391
Epoch 18/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7301 - val_loss: 0.5661 - val_accuracy: 0.7383
Epoch 19/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7299 - val_loss: 0.5643 - val_accuracy: 0.7384
Epoch 20/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7311 - val_loss: 0.5677 - val_accuracy: 0.7381
Epoch 21/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7319 - val_loss: 0.5654 - val_accuracy: 0.7380
Epoch 22/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7305 - val_loss: 0.5628 - val_accuracy: 0.7368
Epoch 23/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7297 - val_loss: 0.5676 - val_accuracy: 0.7388
Epoch 24/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7312 - val_loss: 0.5681 - val_accuracy: 0.7361
Epoch 25/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7323 - val_loss: 0.5653 - val_accuracy: 0.7374
Epoch 26/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7324 - val_loss: 0.5738 - val_accuracy: 0.7356
Epoch 27/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7306 - val_loss: 0.5753 - val_accuracy: 0.7367
Epoch 28/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7309 - val_loss: 0.5699 - val_accuracy: 0.7384
Epoch 29/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7305 - val_loss: 0.5663 - val_accuracy: 0.7368
Epoch 30/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7301 - val_loss: 0.5741 - val_accuracy: 0.7379
Epoch 31/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7319 - val_loss: 0.5707 - val_accuracy: 0.7354
Epoch 32/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7316 - val_loss: 0.5716 - val_accuracy: 0.7372
Epoch 33/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7305 - val_loss: 0.5883 - val_accuracy: 0.7379
Epoch 34/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7314 - val_loss: 0.5685 - val_accuracy: 0.7380
Epoch 35/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7326 - val_loss: 0.5867 - val_accuracy: 0.7376
Epoch 36/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7318 - val_loss: 0.5788 - val_accuracy: 0.7378
Epoch 37/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7309 - val_loss: 0.5702 - val_accuracy: 0.7370
Epoch 38/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7310 - val_loss: 0.5734 - val_accuracy: 0.7370
Epoch 39/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7308 - val_loss: 0.5719 - val_accuracy: 0.7357
Epoch 40/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7329 - val_loss: 0.5772 - val_accuracy: 0.7371
Epoch 41/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7325 - val_loss: 0.5720 - val_accuracy: 0.7376
Epoch 42/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7327 - val_loss: 0.5691 - val_accuracy: 0.7383
Epoch 43/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7321 - val_loss: 0.5731 - val_accuracy: 0.7378
Epoch 44/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7326 - val_loss: 0.5915 - val_accuracy: 0.7361
Epoch 45/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7317 - val_loss: 0.5785 - val_accuracy: 0.7384
Epoch 46/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7326 - val_loss: 0.5916 - val_accuracy: 0.7379
Epoch 47/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7334 - val_loss: 0.5872 - val_accuracy: 0.7367
Epoch 48/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7322 - val_loss: 0.5816 - val_accuracy: 0.7372
Epoch 49/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7345 - val_loss: 0.5834 - val_accuracy: 0.7353
Epoch 50/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7300 - val_loss: 0.5891 - val_accuracy: 0.7392
Epoch 51/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7320 - val_loss: 0.5795 - val_accuracy: 0.7383
Epoch 52/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7329 - val_loss: 0.5845 - val_accuracy: 0.7368
Epoch 53/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7328 - val_loss: 0.5889 - val_accuracy: 0.7372
Epoch 54/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7329 - val_loss: 0.5860 - val_accuracy: 0.7375
Epoch 55/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7331 - val_loss: 0.5790 - val_accuracy: 0.7362
Epoch 56/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7326 - val_loss: 0.5784 - val_accuracy: 0.7378
Epoch 57/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7326 - val_loss: 0.5729 - val_accuracy: 0.7381
Epoch 58/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7325 - val_loss: 0.5803 - val_accuracy: 0.7371
Epoch 59/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7331 - val_loss: 0.5779 - val_accuracy: 0.7352
Epoch 60/60
563/563 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7343 - val_loss: 0.5972 - val_accuracy: 0.7385

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [51]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5590 - accuracy: 0.7314 - 265ms/epoch - 989us/step
Loss: 0.5590128302574158, Accuracy: 0.7314285635948181

In [52]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_Alternate1.evaluate(X_test_scaled_A1, y_test_A1, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5627 - accuracy: 0.7256 - 267ms/epoch - 996us/step
Loss: 0.5627041459083557, Accuracy: 0.7255976796150208

In [53]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_Alternate2.evaluate(X_test_scaled_A1, y_test_A1, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5671 - accuracy: 0.7321 - 250ms/epoch - 933us/step
Loss: 0.567121684551239, Accuracy: 0.7321282625198364

In [54]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_Alternate3.evaluate(X_test_scaled_A1, y_test_A1, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 0s - loss: 0.5653 - accuracy: 0.7328 - 267ms/epoch - 995us/step
Loss: 0.5652913451194763, Accuracy: 0.7328279614448547

### Step 3: Save each of your alternative models as an HDF5 file.

In [55]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_Alternative model_1.h5")

# Export your model to a HDF5 file
nn_Alternate1.save(file_path)

In [56]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_Alternative model_2.h5")

# Export your model to a HDF5 file
nn_Alternate2.save(file_path)

In [57]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_Alternative model_3.h5")

# Export your model to a HDF5 file
nn_Alternate3.save(file_path)